.header {
	&__top {
		@include flex-container(space-between, center);
		position: relative;
		width: 100%;
		&::after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			width: 100%;
			border-bottom: 1px solid $color-vector;
		}
	}

	&__top-nav {
		@include flex-container(space-between, center);
		width: 100%;
		@include md-d {
			position: relative;
		}
	}

	&__action {
		@include flex-container(center, center);
	}

	&__menu {
		@include flex-container(center, center);
		position: relative;
		@include md-d {
			position: static;
		}
	}
}
.nav {
	&__top-wrapper {
		@include flex-container(space-between, center);
		position: relative;
		@include md-d {
			position: static;
		}
	}
}
.logo {
	&__link {
	}
}
.list {
	&__menu {
		@include flex-container(center, center);

		@include md-d {
			display: none;
		}
	}

	&__menu-item {
		// padding: 27px 45px;
		position: relative;
		width: 185px;
		text-align: center;
		&:last-child {
			width: 296px;
		}
		&::after {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			height: 100%;
			width: 1px;
			background-color: $color-vector;
		}
	}

	&__item-link {
		display: inline-block;
		color: $color-decor;
		line-height: 71px;
		font-weight: 600;
		color: $color-title;
		font-size: 14px;
		&:hover {
			color: $color-hover;
		}
	}
}

.search {
	&__box {
	}

	&__box-button {
		width: 76px;
		height: 71px;
		background-color: inherit;
		border-left: 1px solid $color-vector;
		@include dekstop-hover {
			&:hover {
				color: $color-background;
				background-color: $color-hover;
			}
		}
		@include mobile-hover {
			&:active {
				background-color: $color-hover;
			}
		}
	}

	&__container {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 1px;
		border-left: 1px solid $color-vector;
		&.active {
			display: block;
		}
	}

	&__icon {
		margin-left: 20px;
		color: $color-decor;
	}

	&__box-form {
		@include flex-container(space-between, center);
		z-index: 2;
		height: 100%;
		background-color: $color-body;
		position: relative;
		color: $color-vector;
	}

	&__input {
		width: 100%;
		outline: none;
		border: none;
		background-color: inherit;
		caret-color: $color-hover;
		&::placeholder {
			font-size: 14px;
			color: #bebebe;
		}
	}

	&__button-input {
		width: 76px;
		height: 100%;
		background-color: inherit;
		&:hover {
			color: $color-hover;
		}
	}

	&__result-list {
		position: absolute;
		background-color: $color-background;
		width: 100%;
		@include flex-container(center, flex-start);
		flex-direction: column;
	}

	&__result-item {
		padding: 15px 30px;
		width: 100%;
	}

	&__result-link {
		display: block;
		position: relative;
		padding-bottom: 15px;
		color: $color-decor;
		font-size: 12px;
		font-weight: normal;
		&::before {
			position: absolute;
			content: '';
			left: 0;
			bottom: 0;
			width: 100%;
			height: 1px;
			background-color: $color-vector;
		}
		&::after {
			position: absolute;
			content: '';
			background: url('../../assets/icon/arrow.svg') no-repeat right;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			height: 9px;
			width: 12px;
		}
	}
}

.result__item-data {
	font-size: 11px;
	color: $color-subtext;
	position: relative;
	padding-left: 14px;
	&::after {
		position: absolute;
		content: '';
		left: 0;
		transform: translateY(-50%);
		top: 50%;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: #f86436;
	}
}

.language {
	&__container {
		border-left: 1px solid $color-vector;
		&:hover .language__dropdown {
			display: block;
		}
	}

	&__button {
		width: 76px;
		height: 71px;
		background-color: $color-body;
		transition: 0.3s ease-in-out;
		font-size: 14px;
		color: $color-decor;
		font-weight: 400;
		&:hover {
			background-color: $color-hover;
			color: $color-body;
		}
	}

	&__dropdown {
		display: none;
		position: relative;
	}

	&__list {
		position: absolute;
		width: 100%;
	}

	&__item {
		padding: 5px;
		background-color: $color-background;
		width: 100%;
		cursor: pointer;
	}

	&__link {
		display: block;
		text-align: center;
		color: $color-decor;
		font-weight: 400;
		&:hover {
			color: $color-hover;
		}
	}
}

.action {
	&__burger {
		width: 87px;
		height: 71px;
		color: $color-decor;
		@include flex-container(center, center);
		border-left: 1px solid $color-vector;
		@include dekstop-hover {
			&:hover {
				color: $color-background;
				background-color: $color-hover;
			}
		}
		@include mobile-hover {
			&:active {
				background-color: $color-hover;
			}
		}
	}
}
.burger {
	&__menu {
		position: relative;
		height: 12px;
		width: 23px;
		&::after,
		&::before,
		& .burger-line {
			position: absolute;
			content: '';
			width: 100%;
			height: 1px;
			background-color: currentColor;
		}

		&::before {
			top: 0;
		}

		& .burger-line {
			top: 50%;
			transform: translateY(-50%);
		}
		&::after {
			bottom: 0;
		}

		&.active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0, -50%);
		}

		&.active .burger-line {
			opacity: 0;
		}

		&.active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0, 50%);
		}
	}
}
