body,
html {
	font-family: 'RF Dewi';
	background: $color-body;
	font-weight: 400;
	color: $color-decor;
}

.container {
	padding: 0 10px;
}

.font__weight {
	font-weight: 600;
}

.hl {
	font-weight: bold;
	font-size: 13px;
}
